.app__buscador { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app__buscador__p {
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: xx-large;
    background-color: 0px 0px 2px black;
}
.app__buscador__input {
    height: 2rem;
    width: 100%;
    border-radius: 15px;
}
.app__buscador__btn {
    margin-top: 8px;
    padding: 5px;
    border-radius: 15px;
    transition: transform .60s;
}
.app__buscador__btn:hover{
    transform: scale(1.2)
}