.resBuscadorDetail{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid black;
}
.resBuscadorDetail__h2{
    font-size: large;
    margin: 5px;
}
.resBuscadorDetail__h3{
    font-size: small;
    margin: 5px;
}
.resBuscadorDetail__p{
    font-size: small;
    margin: 5px;
}