.resBuscadorDetail{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid red;
    text-align: justify;
}
.resBuscadorDetail__h2{
    font-size:22px;
    font-weight: 450;
    margin: 5px;
    margin-left: 10px;
    color: red;
    text-shadow: black -0.1px 0.1px 0.04em;
}
.resBuscadorDetail__h3{
    font-size: small;
    margin: 5px;
}
.resBuscadorDetail__p{
    font-size: small;
    margin: 5px;
}
.resBuscadorDetail__p2{
    font-size: small;
    margin: 5px;
    color: red;
    text-shadow: black -0.1px 0.1px 0.04em;
}